@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

.poker-table{
    flex-grow: 1;
    background-color: #35654d;
}

.hand-header{
    display: flex;
}

.hand-header > p{
    flex-grow: 1;
}

.hand-header{
    display: flex;
    justify-content: center;
}

.hand-actions{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hand-rank {
    margin-left: 3px;
    font-size: x-large;
    font-family: "Yeseva One", cursive;
    color: white;
  }