.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
}

.login-register-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-register-inputs {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.login-register-helper-text {
  margin-bottom: 10px;
  text-align: center;
}

.login-register-link {
  text-align: center;
  text-decoration: none;
  color: blue;
}

.login-register-submit-button {
  width: 100%;
  padding: 10px;
  background-color: #1e1c1c;
  cursor: pointer;
  color: white;
  border: 2px solid #ccc;
  transition: 0.3s;
}

.login-register-submit-button:hover {
  border: 2px solid #1e1c1c;
  background-color: white;
  color: #1e1c1c;
}
